body {
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.palette {
    height: 100vh;
    display: flex;
    flex-direction: column;
    $self: &;
    &__color-box {
        width: 20%;
        height: 25%;
        margin: 0 auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        position: relative;
        transition: 0.3s;

        &:hover {
            #{$self}__copy-button {
                opacity: 1;
            }
        }
        &.showl {
            width: 100%;
            height: 100%;
        }
        &.go-back{
            background-color: rgba(0,0,0,.3);
        }
    }
    &__colors {
        height: 90%;
        margin-bottom: 20px;
    }
    &__copy-button,&__back-button {
        width: 100px;
        height: 30px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        outline: none;
        background-color: rgba(255, 255, 255, 0.3);
        color: #fff;
        border: none;
      
        font-size: 13px;
        text-transform: uppercase;
        line-height: 30px;
    }
    &__copy-button{
        opacity: 0;
    }
   
    &__color-box-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        em {
            font-size: 13px;
            padding-left: 10px;
        }
    }
    &__copy-overlay {
        opacity: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        transition: 0.3s;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &.show {
            opacity: 1;
            transform: scale(50);
            z-index: 10;
            // height: 100px;
            position: absolute;
            transition: transform 0.6s ease-in-out;
            // overflow: hidden;
        }
    }
    &__copy-overlay-msg {
        position: fixed;
        transform: scale(0.1);
        width: 100%;

        h1 {
            background-color: rgba(255, 255, 255, 0.3);
            color: #fff;
            font-size: 1.3rem;
            text-align: center;
            height: 25px;
            line-height: 21px;
            margin-bottom: 2px;
        }
        span {
            
            font-size: 12px;
        }
    }
    &__slider {
        width: 275px;
        display: flex;
        align-items: center;
        font-weight: 500;
        padding-left: 20px;

        .rc-slider-track {
            background-color: transparent;
        }
        .rc-slider-rail {
            height: 8px;
        }
        .rc-slider-handle &:active,
        .rc-slider-handle,
        .rc-slider-handle &:hover,
        .rc-slider-handle &:focus {
            background: #ad1457;
            border: 2px solid #ad1457;
            height: 15px;
            width: 15px;
            position: relative;
            bottom: -1px;
        }
    }
    &__navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__navbar-logo {
        background-color: #ece;
        height: 30px;
        margin-bottom: 20px;
        outline: none;
        line-height: 30px;
        margin-right: 10px;
        padding: 0 20px;
        a {
            text-decoration: none;
            font-weight: 500;
            display: block;
        }
    }
    &__slider-title {
        font-size: 15px;
        color: #212121;
        margin-right: 15px;
    }
    &__select {
        margin-right: 1rem;
    }
    &__footer {
        display: flex;
        justify-content: right;
        font-weight: 500;
        margin-right: 20px;
    }
    &__SingleColorPalette{
        #{$self}__color-box{
            height:56%;
        }
    }
    
}
